.box{
  background-color: lightgreen;
  height: 400px;
}

.header {
  margin-left: 20px;
}

.checkbox label {
  text-align: right;

}

.checkbox {

}

.checkbox input {
  margin-left: 16px;
}

.login {
  margin-left: 20px;
}

.test {
  position: left;
}
